body {
	font-family: 'Source Sans Pro', sans-serif;
	min-width: 1024px;
}

html, body {
	height: 100%;
	position: relative;
}

#container,
#row,
#sidebar,
#repolist,
#main
 {
	height: 100%;
	overflow: auto;
}

#sidebar {
	background-color: #2D2D2D;
	color: white;
	padding: 0;
	width: 22%;
	float: left;
}

#sidebar h1 {
	text-align: center;
	font-size: 32px;
}

#repolist {
	border-right: 1px solid #DDD;
	padding: 0;
	width: 23%;
	float: left;
	overflow-x: hidden;
}

#main {
	width: 55%;
	float: left;
}

#avatar {
	background-color: transparent;
	border: 0;
	height: 72px;
	width: 72px;
	display: block;
	margin: 20px auto;
}

#search {
	display: block;
	width: 100%;
	margin: 20px 0;
	height: 37px;
	border: 0;
	padding: 2px 32px 2px 45px;
	background-color: #4C4C4C;
	color: #A6A6A6;
	outline: none;
	font-size: 20px;
}

#sidebar h2 {
	padding: 2px 45px;
	font-family: SourceSansPro-Semibold;
	font-size: 20px;
	color: #CD98CD;
	text-transform: uppercase;
}

#untagged-badge {
	margin-left: 8px;
	padding: 3px 10px;
	background-color: white;
	color: #2D2D2D;
	font-weight: normal;
	font-size: 16px;
}

#sidebar ul {
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#languages {
	margin-bottom: 30px;
}

#sidebar li {
	list-style-type: none;
	color: white;
	text-decoration: none;
	display: block;
	padding: 2px 45px;
	font-size: 20px;
	cursor: pointer;
}

#sidebar li:hover {
	background-color: #555;
}

#sidebar .active {
	background-color: #6C6C6C;
}

#tags li {
	padding-left: 56px;
}

#languages li {
	padding-left: 56px;
}

#repolist .caret {
	margin-left: 4px;
	margin-top: -2px;
}

#sort-select {
	width: 100%;
	line-height: 25px;
	border: 0;
	border-bottom: 1px solid #DDD;
	text-transform: capitalize;
}

#sort {
	text-align: right;
	padding-right: 8px;
	width: 100%;
	font-size: 16px;
	border: 0;
	background-color: white;
	text-decoration: none;
	color: #2D2D2D;
}

#repolist .repo {
	padding: 10px 20px 15px 20px;
	border-bottom: 1px solid #DDD;
	cursor: pointer;
}

#repolist .repo:not(.active):hover {
	background-color: #FBFBFB;
}

#repolist .active {
	background-color: #F8F8F8;
}

#repolist .hidden {
	display: none;
}

#repolist .title-line {
	clear: both;
}

#repolist .title {
	font-size: 22px;
	float: left;
	margin-bottom: 3px;
}

#repolist .stars {
	position: relative;
	font-size: 22px;
	float: right;
}

#repolist .star-number {
	position: absolute;
	right: 23px;
}

#repolist .star-icon {
	position: absolute;
	font-size: 19px;
	top: 6px;
	right: 0;
}

#repolist .description {
	width: 100%;
	font-size: 16px;
	color: #717171;
	height: 40px;
	margin-bottom: 10px;
	line-height: 20px;
	overflow: hidden;
	padding: 0;
	clear: both;
}

#repolist .tag {
	background-color: #E0EFE0;
	color: #266F26;
	font-size: 16px;
	border-radius: 4px;
	padding: 0 9px 1px 9px;
	margin-right: 8px;
}

.markdown-body {
	margin: 0 auto;
	padding: 30px;
}
